# ALIASES AND USEFUL STUFF

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias cd..='cd ..'

alias ll='ls -alFgo --color=auto'
alias l='ls -alFgo --color=auto'

alias mvnci="mvn clean install"
alias mvnct="mvn clean test"
alias mvnt="mvn clean test"
alias mvnft="mvn -e -B verify"

alias mvnfmt="mvn -e -B com.coveo:fmt-maven-plugin:format && mvn -e -B com.github.ekryd.sortpom:sortpom-maven-plugin:sort"

alias gcm="git checkout master"
alias gfpm="git fetch && git pull origin master"
alias gits="git status"
alias gitd="git diff"
alias glp="git log --pretty=oneline"

alias tailf="tail -n 100 -f"
